{
	"extends": ["react-app", "react-app/jest"],
	"rules": {
		"jest/valid-title": "off"
	},
	"overrides": [
		{
			"files": ["**/*.stories.*", "rollup.config.js"],
			"rules": {
				"import/no-anonymous-default-export": "off"
			}
		}
	]
}
